@font-face {
  font-family: 'Lugrasimo';
  src: url('assets/fonts/Lugrasimo-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('assets/fonts/Geologica-Variable.ttf') format('truetype');
  font-weight: 100 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  min-width: 1300px;
  height: 100%;
  font-family: 'Geologica', sans-serif;
}

/* ================= header Bar ================= */
.navbar {
  width: 100%;
  height: 74px;
  background-color: #164B60;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.logo {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
}

.logo a:hover {
  color: #f0de36;
}

.right-group {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #f0de36;
}

.user-icon {
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* ================= page Section ================= */
.page {
  width: 100%;
  height: calc(100vh - 74px);
  min-height: 600px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(135deg, #ffffff, #c9efc9);
  display: flex;
  align-items: center;
}

.page-left {
  width: 560px;
  margin-left: 60px;
  z-index: 2;
}

.small-line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #000000;
  margin-bottom: 25px;
}

.page-left h1 {
  font-family: 'Lugrasimo', cursive;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 400;
  color: #000000;
  margin-bottom: 25px;
}

.page-left p {
  font-family: 'Geologica', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #1a1a1a;
  width: 480px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: #fd8d14;
  color: #ffffff;
  font-family: 'Geologica', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 4px;
}

.btn:hover {
  background-color: #f0de36;
  color: #000000;
}

.page-right {
  position: relative;
  height: 100%;
  flex: 1;
}

.circle {
  width: 460px;
  height: 460px;
  border-radius: 50%;
  background-color: #fd8d14;
  position: absolute;
  right: 70px;
  bottom: -90px;
  z-index: 1;
}

.btn:hover~.circle {
  background-color: #f0de36;
}

.man-img {
  height: 480px;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}